/*      Universal Styles        */

* {
    box-sizing: border-box;
}

/*      Control Styles          */

body {
    font-family: 'Exo', sans-serif;
    margin: 0 auto;
    background-color: rgba(255,255,255,255);
    
}   

h1 {
    text-align: center;
    padding-left: 2.5rem;
    margin-right: .5em;
}

header {
    text-align: center;
}

main {
    width: 95%;
    margin-left: .7em;
}

fieldset {
    border: 0;
}

legend {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Noto Serif HK', serif;
    padding-bottom: 1em;
    padding-top: 2em;
}

input[type=text], input[type=email], input[type=tel] {
    height: 3rem;
    background-color: rgba(239,240,241,255);
}



input[type=text]::placeholder, input[type=email]::placeholder {
    text-align: right;
    padding-right: 10px;
}



form {
    margin: 0 auto;
    width: 100%;
}



/*      Classes         */
.top-header {
    text-align: center;
    background-color: rgba(45,57,69,255);
    color: white;
    padding: 3rem 0 3rem 0;
    font-size: 36px;
    font-weight: 600;
    
}

.page-heading {
    color: rgb(167, 172, 177);
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    padding-left: 2rem;
    padding-bottom: 4rem;
    margin-bottom: 5px;
    
}

.col1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    justify-content: center;
}

.col1 > label {
    padding-bottom: 1em;
    font-size: 20px;
    color: rgb(125, 138, 153);
}

.ddm-list {
    height: 3rem;
    background-color: rgba(239,240,241,255);
}

.newsletter-options label {
    padding-bottom: 3rem;
    font-size: 20px;
    padding-left: 1em;
}

.newsletter-options {
    padding-top: 1rem;
    padding-bottom: 2rem;
}


/*      Checkbox Styling        */
.newsletter-options input[type=checkbox] {
    padding-bottom: 1rem;
}

input[type="checkbox"] {
    width: 1.3em;
    height: 1.3em;
    accent-color: royalblue;
}

input[type=radio] {
    accent-color: royalblue;
    height: 1em;
    width: 1em;
}

[id~="cust-zip"] {
    width: 40%;
}

.email-format-chioces > div {
    padding-bottom: .5em;
}

.email-format-chioces {
    margin-bottom: 1em;
    padding-top: 2em;
}

textarea {
    background-color: rgba(239,240,241,255);
    resize: none;
    margin-top: 1em;
    
}


button {
    margin-left: .8em;
    width: 97%;
    height: 4em;
    background-color: blue;
    color: white;
}

/*      The Footer Styles       */
footer {
    text-align: center;
    color: rgb(209, 211, 214);
}

/*      ID"s styling        */
#upper-line {
    height: 20px;
}

#newletter-head-format {
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 2em;
}

#newsletter-email-heading {
    padding-top: 1em;
    font-weight: 600;
    font-size: 19px;
    line-height: 2;
    padding-left: 3px;
}

#news-page-format {
    padding-bottom: 2em;
}

#news-head-format {
    border-bottom: 3px solid black;
    padding-bottom: 6em;

    width: 100%;
}

#html-options {
    padding-bottom: 1rem;
}

#top-line {
    height: 7px;
    background-color: black;
    margin-bottom: 0px;
    width: 100%
}

#bottom-line {
    height: 3px;
    background-color: black;
}




/*      Media Queries       */

@media screen and (min-width: 1024px) {
    body {
        max-width: 70%;
        
    }

    form {
        padding-left: 5rem;
    }

    .col1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .col1 > label {
        flex-basis: 190px;
    }

    textarea {
        width: 100%;
    }

    div > label {
        
        text-align: left;
        
    }

    div > input[type=text], input[type=email], input[type=tel], .ddm-list {
        
        width: 55rem;
    }

    [id~=cust-zip] {
        max-width: 200px
    
    }
}
